* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
}

#frame4{
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;
position: absolute;
width: 120px;
height: 48px;
left: 88px;
top: 40px;
}

#logo {
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;      
}

#vector{
    position: absolute;
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
    /* Dark blue/dark-blue-300 */    
    /*background: #0A3871;*/
}
#iniciarJuego {
    /* Button */
    box-shadow: #094c66 4px 4px 0px;  
    /* Auto layout */
    padding: 24px;
    gap: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    /* White */
    color: #FFFFFF;

    position: absolute;
    width: 317px;
    height: 114px;
    left: 561px;
    top: 402px;
/* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;
}

#agregarPalabra{
    /* Button */
    box-sizing: border-box;
    box-shadow: #094c66 4px 4px 0px;  
    /* Auto layout */
    padding: 24px;
    gap: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    /* Dark blue/dark-blue-300 */
    color: #0A3871;
    position: absolute;
    width: 280px;
    height: 67px;
    left: 579px;
    top: 554px;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
}

.download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #a7acc7;
    border: solid 1px #3109e42d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }

#agregarPalabra:hover .download {
    transform: translateY(100%)
   }
   
   .download svg polyline,.download svg line {
    animation: docs 1s infinite;
   }
   
   @keyframes docs {
    0% {
     transform: translateY(0%);
    }
   
    50% {
     transform: translateY(-15%);
    }
   
    100% {
        transform: translateY(0%);
    }  
   }


#iniciarJuego:hover,
#agregarPalabra:hover
 {
    cursor: pointer;
  }
  
#iniciarJuego:active,
#agregarPalabra:active 
{
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px; 
    ;
}

footer {    
    top: 990px;
    /* left: 230px; */
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    font-family:'GothamRounded', sans-serif;
    /*font-family: 'Inter';*/
    font-style: normal;
    font-weight: 200px;
    /*font-size: 20px;*/
    font-size: 1rem;
    line-height: 100%;
    text-align: center;
    color:white;
    background-color: rgb(0, 112, 115);
    padding-bottom: 20px;     
}

/* CELULAR   */

@media only screen and (max-width: 600px) {

}

/* TABLET   */

@media only screen and (max-width: 768px) {

}

/* LAPTOP   */

@media only screen and (max-width: 992px) {

}

/* PC   */

@media only screen and (max-width: 1200px) {

}